name: Check JS code

on: [push, pull_request]

permissions:
  contents: read

jobs:
  main:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            registry.npmjs.org:443
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: NPM install
        run: npm install
      - name: Check Format
        run: npm run format-check
      - name: Unit tests
        run: npm test
