name: Check JS code

on: [push, pull_request]

permissions:
  contents: read

jobs:
  main:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            registry.npmjs.org:443
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: NPM install
        run: npm install
      - name: Check Format
        run: npm run format-check
      - name: Unit tests
        run: npm test
